.bike-types {
  padding-top: 235px;
  padding-bottom: 137px;
  font-family: $font-deafult;
  color: $basic-black;
  background-color: $basic-white;

  @media (max-width: $tablet-width-only) {
    padding-top: 73px;
    padding-bottom: 20px;
    background-color: $basic-athens_gray;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 12px;
  }
}

.bike-types__wrapper {
  @include wrapper;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-width-only) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 34px;
  }
}

.bike-types h2 {
  @include reset-list;
  margin-bottom: 51px;
  font-family: $font-deafult;
  font-size: 30px;
  letter-spacing: -0.005em;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: $basic-mine-shaft;

  @media (max-width: $tablet-width-only) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 30px;
  }
}

.bike-types__list {
  @include reset-list;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 50px;

  @media (max-width: 1145px) {
    column-gap: 15px;
  }

  @media (max-width: $tablet-width-only) {
    column-gap: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
  }
}

.bike-types__item {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 38px;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.bike-types__item--road {
  position: relative;
  z-index: 1;

  padding-top: 10px;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    top: 166px;
    left: -60px;
    height: 180px;
    width: 180px;

    border: 27px solid $basic-turquoise;
    border-radius: 100px;
  }

  @media (max-width: $tablet-width-only) {
    padding: 0;

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      display: block;
      top: 202px;
      left: -37px;
      height: 127px;
      width: 127px;

      border: 18px solid $basic-turquoise;
      border-radius: 100px;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding: 0;

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      display: block;
      top: 202px;
      left: -25px;
      height: 127px;
      width: 127px;

      border: 18px solid $basic-turquoise;
      border-radius: 100px;
    }
  }
}

.bike-types__item--mountain {
  position: relative;
  z-index: 1;
  padding-top: 39px;


  &::after {
    content: "";
    z-index: 2;
    position: absolute;
    display: block;
    bottom: 43px;
    right: -23px;
    height: 47px;
    width: 47px;
    border: 8px solid $basic-turquoise;
  }

  &::before {
    content: "";
    z-index: 2;
    position: absolute;
    display: block;
    top: 21px;
    left: -19px;
    height: 47px;
    width: 47px;
    border: 8px solid $basic-turquoise;
  }

  @media (max-width: $tablet-width-only) {
    padding-top: 0;

    &::after {

      display: none;
    }

    &::before {

      display: none;
    }
  }
}

.bike-types__item--children {
  position: relative;
  z-index: 1;


  &::before {
    content: "";
    z-index: 2;
    position: absolute;
    display: block;
    top: -32px;
    right: -36px;
    height: 95px;
    width: 95px;
    border: 17px solid $basic-turquoise;
    border-radius: 100px;
  }

  @media (max-width: $tablet-width-only) {
    &::before {
      content: "";
      z-index: 2;
      position: absolute;
      display: block;
      top: -20px;
      right: -25px;
      height: 68px;
      width: 68px;

      border: 13px solid $basic-turquoise;
      border-radius: 100px;
    }
  }

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      z-index: 2;
      position: absolute;
      display: block;
      top: -20px;
      right: -13px;
      height: 68px;
      width: 68px;

      border: 13px solid $basic-turquoise;
      border-radius: 100px;
    }
  }
}

.bike-types__item--road img {
  width: 342px;
  height: 503px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  border-radius: 10px;
}

.bike-types__item--mountain img {
  width: 342px;
  height: 566px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  border-radius: 10px;
}

.bike-types__item--children img {
  width: 342px;
  height: 512px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  border-radius: 10px;
}

.bike-types img {
  @media (max-width: 1145px) {
    width: 320px;
  }

  @media (max-width: $tablet-width-only) {
    width: auto;
    height: 300px;
  }
}

.bike-types p {
  @include reset-list;
  margin: 12px 0;
  font-family: $font-deafult;
  font-size: 22px;
  letter-spacing: -0.5px;
  line-height: 34px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: $basic-black;
}
