.callback {
  text-align: right;
  width: 38%;

  @media (max-width: $tablet-width-only) {
    width: 100%;
    padding-top: 34px;
    padding-bottom: 10px;
    text-align: center;
    background-color: $basic-white;
  }
}


.callback__text {
  @include reset-list;
  margin: 5px 0 19px 5px;
  font-family: $font-deafult;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.005em;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: $basic-white;

  @media (max-width: $tablet-width-only) {
    color: $basic-black;
    text-align: center;
    font-size: 18px;
    margin: 8px 28% 8px 28%;
  }

  @media (max-width: $mobile-width-only) {
    margin: 36px 9% 8px 9%;
  }
}

.callback__form-wrapper {
  @media (max-width: $tablet-width-only) {
    padding: 20px 0 1px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width-only) {
    padding: 11px 0 1px 0;
  }
}

.callback__input {
  width: 327px;
  margin-bottom: 17px;
  padding: 14px 27px 10px 27px;
  font-family: $font-deafult;
  font-size: 15px;
  line-height: 24px;
  color: $basic-gray;
  background-color: $basic-white;
  border: 1px solid $special-ghost;
  border-radius: 4px;

  &:invalid {
    border: 1px solid $basic-gray;
  }

  &:hover,
  &:focus {
    border: 1px solid $basic-gray;
  }

  @media (max-width: $tablet-width-only) {
    width: 321px;
    padding-left: 21px;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
    padding-left: 24px;
    margin-bottom: 18px;
  }
}

.callback__input-tel {
  margin-bottom: 20px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 16px;
  }
}

.callback__button {
  width: 326px;
  margin-bottom: 17px;
  margin-right: 3px;
  padding: 14px 27px 13px 27px;
  font-family: $font-deafult;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  color: $basic-black;
  background-color: $basic-turquoise;
  border: 1px solid $basic-turquoise;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width-only) {
    width: 321px;
    margin: 0;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
    padding: 14px 27px 14px 27px;
  }
}
