.contacts-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet-width-only) {
    flex-direction: column;
  }

}

.contacts-links__item {
  @include reset-list;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $font-deafult;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: $special-black-05;
}

.contacts-links__item-icon {
  fill: $basic-turquoise;
}

.contacts-links__item-icon--phone {
  fill: transparent;
  stroke: $basic-turquoise;
}
