.contacts-links {
  text-align: center;
  padding: 7px 28% 9px 26%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1088px) {
    padding: 7px 16% 9px 16%;
  }

  @media (max-width: $tablet-width) {
    padding: 5px 15% 0 13%;
  }

  @media (max-width: 694px) {
    justify-content: center;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0 0 0;
  }
}

.contacts-links__item {
  margin-bottom: 24px;
}

.contacts-links__item--mail,
.contacts-links__item--phone {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $special-black-05;
  position: relative;
  padding-left: 45px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:focus {
    opacity: 0.9;
  }

  & svg {
    position: absolute;
  }
}

.contacts-links__item--mail {
  @media (max-width: $tablet-width) {
    margin-bottom: 24px;
  }

  & svg {
    top: 0;
    left: 8px;
  }
}

.contacts-links__item--phone svg {
  top: -3px;
  left: 9px;
  fill: transparent;
}

.contacts-links__item--mail span {
  padding-left: 4px;
  padding-right: 25px;

  @media (max-width: $tablet-width) {
    padding-left: 2px;
    padding-right: 10px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 2px;
    padding-right: 0;
  }
}

.contacts-links__item--phone span {
  padding-right: 1px;

  @media (max-width: $mobile-width) {
    padding-right: 20px;
  }
}
