.page-footer {
  font-family: $font-deafult;
  color: $basic-black;
  background-color: $basic-white;
  padding-bottom: 94px;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 36px;
  }
}

.page-footer__wrapper {
  @include wrapper;

  display: flex;
  flex-direction: column;
}
